html {
    height: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px; /* puis en rem, relativement à ça */
    padding: 0 1rem;
    margin: 0;
    height: 100%;
}

.page {
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    /*
    background-image: linear-gradient(5deg, black 75px, transparent 75px);
    background-position: left bottom;
    */
}

header {
    display:flex; /* horizontal par défaut */
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 3.5rem;
    margin-bottom: 0.5rem;
    /*
    background-color: white;
    background-image: url(img/triangle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    */
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

header nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header nav a {
    padding: 0.25rem 0.5rem;
    font-weight: bold;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline dotted;
}

header a.selected {
    background-color: black;
    color: white;
    pointer-events: none;
}

.header_title {
    font-size: 1.75rem;
    font-weight: bold;
    background: url(img/gravelot.png) left center no-repeat;
    background-size: contain;
    padding-left: 7rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


h2 {
    padding: 0.5rem 1rem;
    box-shadow: .25rem .25rem 0 black;
    border: 1px solid;
    display: inline-block;
}

li {
    margin-bottom: 0.5rem;
    list-style-type: none;
    margin-left: -1em;
}

li::before {
    content: ""; /*indispensable sinon ça n'affiche rien*/
    width: 1em;
    height: 1em;
    display: inline-block; /*sinon le height n'est pas pris en compte*/
    box-sizing: border-box;
    margin-right: 0.5em;
    margin-bottom: -0.15em;
}

li:not(.python_file)::before {
    background-color: black;
    border: 5px solid white;
    border-radius: 50%;
}

li.python_file::before {
    background: url(img/logo_python_nb.png) center center no-repeat;
    background-size: 80%;
}

.chapter {
    margin-bottom: 3rem;
}

@media (max-width: 800px) {
    body {
        font-size: 14px;
    }

    header nav {
        flex-direction: column;
        align-items: flex-end;
        gap: 0;
    }

    .header_title {
        align-self: flex-start;
        padding-left: 5.5rem;
        height: 5rem;
        font-size: 1.5rem;
    }
}

.code{
    font-family: monospace, monospace;
    font-weight: normal;
}